<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      width="100%"
      border="0"
      cellspacing="0"
      cellpadding="0"
      style="min-width: 290px; max-width: 600px; margin: auto"
    >
      <tbody>
        <!-- Quote -->
        <tr>
          <td
            style="
              padding: 15px 0;
              text-align: center;
              font-family: sans-serif;
              font-size: 12px;
              color: #6f6f6f;
            "
          >
            <a
              href="https://www.facebook.com/coccamco.fpthcm"
              style="color: #6f6f6f; text-decoration: none"
            >
              Tổ chức Cóc Cầm Cơ - Giải đấu vì cộng đồng - Contact
            </a>
          </td>
        </tr>
        <!-- End Quote -->

        <!-- Header -->
        <tr>
          <td
            style="
              background-image: linear-gradient(
                to top,
                black,
                rgb(182, 125, 19)
              );
              border-top-right-radius: 4px;
              border-top-left-radius: 4px;
              padding: 20px 0;
            "
          >
            <div style="text-align: center">
              <a
                href="https://coccamco.web.app"
                style="text-align: center; display: block"
              >
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/my-ccc-landing-page-gen2.firebasestorage.app/o/avatar.png?alt=media&token=0dccf1a5-e402-4a19-9bbf-c995016b07c1"
                  alt=""
                  border="0"
                  style="border-radius: 999999px; width: 70px; height: auto"
                />
              </a>
            </div>
          </td>
        </tr>
        <!-- End Header -->

        <!-- Main Body -->
        <tr style="background-color: #fff">
          <td
            style="
              padding: 0 30px;
              font-family: sans-serif;
              font-size: 16px;
              line-height: 1.5;
            "
          >
            <br />
            <p style="font-weight: 700; color: rgb(182, 125, 19)">
              Xin chào {{name}},
            </p>

            <br />
            <div
              style="
                font-family: Arial, sans-serif;
                max-width: 600px;
                margin: auto;
                padding: 20px;
                border: 1px solid #ddd;
                border-radius: 10px;
                background: #d4edda;
              "
            >
              <h2 style="color: #155724">✅ Thanh Toán Thành Công</h2>
              <p style="background: #c3e6cb; padding: 10px; border-radius: 5px">
                Bạn đã chính thức trở thành người chơi hợp lệ của giải đấu Cóc
                Cầm Cơ Mùa II
              </p>
            </div>
            <div style="display: block; text-align: center; margin: 20px">
              <a
                href="https://coccamco.web.app/search"
                style="
                  background-color: rgb(182, 125, 19);
                  padding: 15px 20px;
                  text-decoration: none;
                  color: #fff;
                  border-radius: 4px;
                  display: inline-block;
                  font-size: 14px;
                  font-weight: 500;
                "
              >
                Tra cứu thông tin cặp đấu
              </a>
            </div>
            <p style="color: rgb(182, 125, 19)">
              <i
                >*Chú ý: truy cập link để xem trực tiếp thông tin cặp đấu, giờ
                đấu sắp tới.</i
              >
              <br />
            </p>
            <br />
            Rất vinh hạnh khi được phục vụ các cơ thủ. Chúc các cơ thủ chuẩn bị
            thật tốt cho giải đấu!<br /><br />

            <p style="color: rgb(182, 125, 19); font-weight: 700">
              Trân trọng, <br />
              Cóc Cầm Cơ Organization
            </p>
            <br />
          </td>
        </tr>

        <!-- Footer -->
        <tr>
          <td
            style="
              background-image: linear-gradient(
                to bottom,
                black,
                rgb(182, 125, 19)
              );
              border-bottom-right-radius: 4px;
              border-bottom-left-radius: 4px;
              padding: 20px 0;
            "
          >
            <div style="text-align: center">
              <a
                href="https://coccamco.web.app"
                style="text-align: center; display: block"
              >
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/my-ccc-landing-page-gen2.firebasestorage.app/o/horizontal-logo.png?alt=media&token=33ea4a0c-699e-46fe-b0f8-12d27ce2ad67"
                  alt="Logo"
                  border="0"
                  style="width: 150px; height: auto"
                />
              </a>
            </div>
          </td>
        </tr>
        <!-- End Footer -->
      </tbody>
    </table>
  </body>
</html>
