# Node modules
node_modules/

# Logs
npm-debug.log
yarn-error.log

# Environment Variables
.env

# Build directories
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/

# Testing
coverage/
*.log
