body {
    background-image: url("../background/bgr-register-page.png");
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 40px;
    padding-right: 50px;
    font-size: 150%;
}
/*start of main page*/
.landing-header{
    display: flex;
    flex-direction: row;
    padding-bottom: 120px;
}
.landing-header h1{
    align-content: center;
    padding-left: 20px;
}
.landing-left-logo{
    display: flex;
    align-items: center;
}
.landing-left-logo img{
    border-radius:50% ;
}
.landing-right-navigation{
    padding-left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    flex: 1;
}
.landing-right-navigation ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}
.landing-right-navigation li{ 
    display: flex;
    flex: 1;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    padding: 20px 0 20px;
}
.landing-right-navigation li:hover{
    box-shadow: 0 6px 8px rgba(40,40,40,10);
}
.landing-right-navigation a{
    display: block;
    text-decoration: none;
    color: white;
}


.landing-banner{
    font-size: 180%;
    color: rgb(255,255,255);
    text-align: justify;
    justify-items: center;
    display:flex;
    justify-content: flex-start;
    padding-bottom: 60px;
}
.landing-smol-link{
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    gap: 10px;
}
.landing-smol-link img{
    width: 20px;
    height: auto;
}
.landing-smol-link a{
    text-decoration: none;
    font-size: 50%;
    color: white;
}
.landing-body{
    font-size: 120%;
    display: flex ;
    justify-content: space-between;
    align-items: flex-start;
}
.landing-body h1{
    font-size: 200%;
}
.landing-b-left, .landing-b-right{
    flex: 1;
    margin: 0 20px;
}
.landing-b-right h2, .landing-b-left h2{
    font-weight: bold;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.landing-b-right-timer{
    display: flex;
    justify-content: center;
}
#timer{
    font-weight: bold;
    font-size: 200%;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 20px;
}
.landing-b-right-btn{
    display: flex;
    justify-content: center;
}
#landing-regi-btn{
    font-size: 90%;
    padding: 5px 30px;
    background: linear-gradient(90deg, #1D15B2 0%, #530A46 100%);
    border: 3px solid #FFFFFF;
    color: white;
}
#landing-regi-btn:hover{
    border: 3px solid rgb(0,0,0);
    box-shadow: 0 6px 8px rgba(0,0,0,10);
}
/*about us page*/

/*tournament page*/

/*contact page*/